body {
	font-family:  Arial;
}

h1, h3 {
	text-align: center;
}

img {
	max-width: 100%;
}

.flex-container {
	display:  flex;
	justify-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction:  row;
}

.text {
  padding: 15px 15px 15px 15px;
  display: flex;
}

.first, .second, .third, .fourth {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width:  48%;
	height: 550;
	margin-bottom: 2%;
	background: mediumpurple;
	position:  relative;
	border-style:  solid;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.shapes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.shape {
	max-width: 25%;
}

.shape:hover {
	fill: darkred;
}