h1 {
	text-align: center;
}

.flex-container {
	display:  flex;
	justify-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.first, .second, .third, .fourth {
	width:  48%;
	height: 400px;
	margin-bottom: 2%;
	background: mediumpurple;
}

.item:nth-child(3n) {
	width: 100%;
}

